.newabout_sec {
  height: 90vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: url(./../../Images/code.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover !important;
}
.mid_box{
  height: 75%;
  position: relative;
  top:15%;
  background-color: #e4e4e4;
  box-shadow: -3px 7px 12px #888;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.imageholder{
  flex: 0 0 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maheshimg{
  height: 175px;
  width: 175px;
}
.hello{
  font-size: 50px;
  font-family: 'Dosis';
  font-weight: 500;
  /* flex: 0 0 50%; */
}
.introholder{
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.resumeholder{
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  height: 7vh;
  align-items: center;
}

.myintro{
  font-family: 'Caveat';
  font-size: 34px;
}
.texty{
  font-family: 'dosis';
  font-size: 20px;
}

.iconholder{
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  flex: 0 0 100%;
  align-items: center;
}
.extraholder{
  font-family: 'dosis';
  font-size: 26px;
  display: flex;
  justify-content: center;
}



#HeaderDIV {
  height: 12vh;
  z-index: 10000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: large;
}

li {
  float: left;
}

li a {
  display: block;
  color: #182434;
  ;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.topnav {}

.topbar {
  display: flex;
  width: 100%;
  /* background-image: url(./../../Images/naturehead.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  height: auto;
  -webkit-background-size: cover !important;
  padding: 0;
  background-color: #333333;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  color: white !Important;
}

.topnav a:hover {
  border-bottom: 1px solid #182434;
}

.topnav a.active {
  color: #182434;
  ;
}

.topnav>.active {
  border-bottom: 1px solid #182434;
  ;
}

.topnav .icon {
  display: none;
}


.navvele {
  font-family: 'Josefin Slab', serif;
  color: #182434;
  ;
  font-weight: bold;
}

.Maheshheadline {
  font-family: 'Caveat', cursive;
  font-size: 40px !Important;
  font-weight: 500;
  color: white !important;
}

.itemsholder {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}



@media screen and (min-width: 300px) and (max-width: 409px){
  .mid_box {
    height: 70%;
  }
  
  .extraholder{
    flex: 0 0 100%;
  }
  .imageholder{
    flex: 0 0 100%;
  }
  .resumeholder{
    flex: 0 0 100%;
  }
  .iconholder{
    flex: 0 0 100%;    
  }
  .introholder{
    flex: 0 0 100%;    
  }
}
@media screen and (min-width: 412px) and (max-width: 499px){
  .mid_box {
    height: 60%;
  }
  
  .extraholder{
    flex: 0 0 100%;
  }
  .imageholder{
    flex: 0 0 100%;
  }
  .resumeholder{
    flex: 0 0 100%;
  }
  .iconholder{
    flex: 0 0 100%;    
  }
  .introholder{
    flex: 0 0 100%;    
  }
}
@media screen and (min-width: 500px) and (max-width: 599px){
  .mid_box {
    height: 66%;
  }
  
  .extraholder{
    font-size: 35px;
    flex: 0 0 100%;
  }
  .imageholder{
    flex: 0 0 100%;
  }
  .resumeholder{
    flex: 0 0 100%;
  }
  .iconholder{
    flex: 0 0 100%;    
  }
  .introholder{
    flex: 0 0 100%;    
  }
}
@media screen and (min-width: 600px) and (max-width: 767px){
  .newabout_sec {
    height: 157vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .mid_box {
    height: 70%;
  }
  .newabout_sec {
    height: 128vh;
  }
}


@media screen and (max-width: 600px) {

  .hello{
    font-size: 60px;
  }
  .myintro{
    font-size: 45px;
  }
  .texty{
    font-size: 24px;
  }
  .topnav li:not(:first-child) {
    display: none;
  }
  .typed {
    font-size: 26px;
  }
  .topnav li.icon {
    float: right;
    display: block;
  }
  .newabout_sec {
    height: 167vh;
  }
  .extraholder{
    font-size: 35px;
    flex: 0 0 100%;
  }
  .imageholder{
    flex: 0 0 100%;
  }
  .resumeholder{
    flex: 0 0 100%;
  }
  .iconholder{
    flex: 0 0 100%;    
  }
  .introholder{
    flex: 0 0 100%;    
  }
}



@media screen and (max-width: 600px) {
  .topnav.responsive {}

  .topnav.responsive .icon {
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

@media screen and (min-width: 1100px){
  .mid_box {
    height: 75%;
  }
}
